*~
/src/modipulate/Debug
/src/modipulate/Release
/src/modipulate_lua/Debug
/src/modipulate_lua/Release
/build
/.build-debug
/.build-release
*.mk
Modipulate.tags
Modipulate.workspace.session
Modipulate_wsp.mk
*.so
/.waf-*
/.lock-waf_linux2_build
modipulate.txt
/cscope_file.list
